html {
    box-sizing: border-box;
}

body {
    color: #33342D;
    font-family: Roboto, sans-serif;
    font-size:14px;
    -moz-transition-property: text-shadow;
    -moz-transition-duration: 4s;
    -webkit-transition-property: text-shadow;
    -webkit-transition-duration: 4s;
    text-shadow: none;
  }

  p {
      text-align: center;
      padding-top: 5%;
      font-size: 150%;
  }


  a {
    color: #55aaff;
  }

  h1 {
    color: #33342D;
    font-size: 400%;
    font-weight: normal;
    margin-bottom: 0em;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
  }
  h2 {
    font-size: 200%;
    font-weight: normal;
    margin-bottom: 0em;
    text-align: center;
  }

  h2 {
    font-size: 200%;
    font-weight: normal;
    margin-bottom: 0em;
    text-align: center;
  }
  ul {
    padding-left: 1em;
    margin: 0px;
  }
  li {
    margin: 1em 0em;
  }

  .form-control {
      width: 300px;
  }

  .form-group1 {
      display: block;
      padding-left: 40%;
  }


.form-item {
    padding-bottom: 2%;
}



  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
